---
import { useSanityClient, groq } from 'astro-sanity';
import { createImageBuilder } from 'astro-sanity';

const imageBuilder = createImageBuilder(useSanityClient())

const urlForImage = (source) => {
    return imageBuilder.image(source)
} 

const query = groq`*[_type == "crew"]|order(_createdAt){
    name,position,image,twitterUrl,facebookUrl,instagramUrl
}`;

const crews = await useSanityClient().fetch(query)

import Card from '../components/Card.astro';

import { Facebook, Instagram, Twitter } from 'astro-feather-icons'
---

<div class="mx-auto w-5/6 py-10 crews">
    <h5 class="text-center text-4xl font-extrabold pb-10 uppercase">Our Crew</h5>
    <div class="grid grid-cols-1 lg:grid-cols-3 sm:grid-cols-2 gap-5 md:gap-3">
        {
            crews.map(crew => (
                <Card myClass="flex flex-col gap-3 min-h-96 p-5 tracking-tighter">
                    <img src={urlForImage(crew.image)} class="w-full aspect-square object-cover rounded-full" alt="">
                    <div class="flex flex-col gap-1">
                        <h1 class="text-2xl text-center font-bold">{crew.name}</h1>
                        <h1 class="text-md text-center text-[#555] text-italic">{crew.position}</h1>
                        <div class="flex gap-3 justify-center items-center pt-5">
                            {crew.facebookUrl !== null && ( 
                                <a href={crew.facebookUrl}><Facebook /></a>
                            )}
                            {crew.instagramUrl !== null && <a href={crew.instagramUrl}><Instagram /></a>}
                            {crew.twitterUrl !== null && <a href={crew.twitterUrl}><Twitter /></a>} 
                        </div>
                    </div>
                </Card>
            ))
        }
    </div>
</div>

